<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Componentes Multiplos</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <a href="/">Voltar</a>

      <p>
        Props: São parâmetros que a gente recebe em nossos componentes.
      </p>

       <div>
        <my-Form v-for="field in fieldList" :key="field" :label="field"/>
      </div>
    </div>

    <script>
      const myForm = Vue.component("MyForm", {
        template: `<div>
            <span>{{label}}</span>
            <input type="text" v-model="text" />
            <button @click="clear">Limpar</button>
            <p>{{ reverseText }}</p>
          </div>
        `,
        props:['label'],
        data() {
          return {
            text: ""
          };
        },
        computed: {
          reverseText() {
            return this.text
              .split("")
              .reverse()
              .join("");
          }
        },
        methods: {
          clear() {
            this.text = "";
          }
        }
      });
      const app = new Vue({
        el: "#app",
        data() {
          return {
            fieldList: ["Nome", "Email", "Telefone"]
          };
        }
      });
    </script>
  </body>
</html>
